<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="Just play me something!" property="og:title"/>
    <meta content="Listen to a random Spotify song" property="og:description"/>
    <meta content="#1ed760" data-react-helmet="true" name="theme-color"/>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/script.js') }}" defer></script>

    <title>Just play me something!</title>
</head>
<body>
    <div class="main-flex">
        <div class="title">Just play me something!</div>
        <div class="description">This website will play a <i>random</i> song from Spotify for you. If you want a new song, click the button below!<br>If you like this project, consider giving it a star on GitHub! <a href="https://github.com/KristN1/JustPlayMeSomething"><img src="https://img.shields.io/github/stars/KristN1/JustPlayMeSomething?style=social"alt="GitHub star"</a></div>
        <div>
            <iframe id="spotify-embed" class="song-embed" src="https://open.spotify.com/embed/track/{{ trackId }}" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <div>
            <button id="next-btn">Play me something else!</button>
        </div>
    </div>
</body>
</html>